@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.popup-title {
        letter-spacing: 0.2em;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        padding: 30px 90px 25px 113px;
    }

    .modal-content {
        background-color: #eede96;
    }

.popup-button {
    margin: 0 auto;
}
