@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.bigInstructionsClose{  
    float: right !important;
    margin-right: 15px;
    color: black;
}
.modal-footer{
    border-top:none!important;
}

.modal-content {
    box-sizing: border-box;
    color:black!important;
    font-weight: bold;
    font-family: "Roboto", sans-serif !important;
}
.generalModalTitle{
    border-radius: 15px;
    font-weight: 600!important;
    font-size: 2rem!important;
    font-family: "Roboto", sans-serif!important;
    padding: 1rem;
    text-transform: uppercase !important;
    align-items: center;
    border-bottom: none!important;
    flex-direction: column-reverse;
    justify-content: none!important;
    width:70%;
    margin: 3rem auto;
    }

.generalListDiscount{
    text-align: center;
}

.generalDespription{
    text-align: center;
    padding: 2rem;
}

.generalModalTitle {
    &-orange {
      background-color:#FF7E0B;
      box-shadow:7px 5px 5px #371b00;
    } 
    &-red {
      background-color: #E5423A;
      box-shadow:7px 5px 5px #6a2636;
    }
    &-blue {
        background-color:#29abe2;
        box-shadow:7px 5px 5px #09103a;
    }
    &-brown {
        background-color:#f2ab38;
        box-shadow:7px 5px 5px #cca772;
    }  
  }
  @media (max-width: 600px) {
    .generalModalTitle {
        font-size: 1.5rem!important;
    }
    .generalDespription{
        padding: 0;
    }
    .bigInstructionsClose{  
        margin-right: 5px;
        font-size: 1.5em!important;
    }
  }