@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.popup-title {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border-radius: 0;
        background: #e2525c;
        padding: 95px 100px 80px 109px!important;
    }

    .modal-content {
        background-color: rgb(255, 255, 255);
    }

.popup-button {
    margin: 0 auto;
}


@media (max-width: 600px) {
    .popup-title {
        font-size: 5vw;
    }
  }