.btn-games {
    background-color: #cca772;
    position: relative;
}

.carousel-slide-btn{
    padding: 10px;
    margin-bottom: 25px;
}

.games-title {
    text-align: center;
}
.carousel-caption{
    position: absolute;
    right: 0;
    left: 0;
}