
.carousel-slide-games {
    height: 500px;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    margin-top: 50px;
    left: 50%;
    width: 60%!important;
    transform: translateX(-50%);
}

.btn-games {
    margin-bottom: 100px;
}

.games-title {
    text-align: center;
}
