.gameSectionContainer .btn-games {
    background-color: #cca772;
    position: relative;
}

.gameSectionContainer .carousel-slide-btn{
    padding: 10px;
    margin-bottom: 25px;
}

.gameSectionContainer .games-title {
    text-align: center;
}
.gameSectionContainer .carousel-caption{
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
}

.gameSectionContainer .carousel-control-next, .gameSectionContainer .carousel-control-prev {
    z-index: 9999;
}