@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.bigInstructionsPopUp {
    cursor: pointer;
    float: right;
    margin-right: 15px;
    color: black;
    transform: rotate(165deg);
}

.modalBody {
    outline: 4px solid #29ABE2;
    border-radius: 15px;
}

.popup-title {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        padding: 30px 30px 25px 30px;

    }

.popupButton {
    margin: 0 auto;
    margin-bottom: 40px;  
    background-color: #29ABE2;
    color: white;
    border-radius: 4px;

    
}

.popupButtonMemory {
    margin: 0 auto;
    margin-bottom: 40px;  
    background-color: orange;
    color: white;
    border-radius: 4px;

    
}

.popupButton50 {
    margin: 0 auto;
    margin-bottom: 40px;  
    background-color: #E5423A;
    color: white;
    border-radius: 4px;
    
    
}


.popupButtonTrivia {
    margin: 0 auto;
    margin-bottom: 40px;  
    background-color: #f4ad04;
    color: white;
    border-radius: 4px;
    
    
}


.popupButton:hover {
    background-color: white;
    color: black;
}

.modalPopUpTitle {
    color: black;
    padding: 0.5rem;
    padding-left: 50px;
    font-weight: 500!important;
    font-size: 3rem!important;
    font-family: "Roboto", sans-serif!important;
}


.discountText {
    padding: 2rem;
    padding-top: 5rem;
    color: black;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}

.discountCode {
    margin-top: 40px;
    font-size: 28px;
}

.termsAndConditions {
    cursor: pointer;
    float: right;
    margin-right: 25px;
}
@media (max-width: 600px) {
    .modalPopUpTitle {
        font-size: 1vw;
        padding: 0;
        margin-top: 30px;
    }
  }