.instructionGamesSnake {
   cursor: pointer;
   font-size: 15px;
}

.modal-footer{
   border-top:none!important;
}

.snakeModalTitle{
   background: #29abe2;
   border-radius: 15px;
   box-shadow:7px 5px 5px #09103a;
   font-weight: 600!important;
   font-size: 2rem!important;
   font-family: "Roboto", sans-serif!important;
   padding: 1rem;
   text-transform: uppercase !important;
}
.snakeListDiscount{
   text-align: center;
}
.snakeDespription{
   text-align: center;
   padding: 2rem;
}
.all-modal-snake{
   border: solid 10px #29abe2;  
}