

.bigCloseButtonMemory{
    cursor: pointer;
    position: absolute;
    right: 8%;
    top: 32.3%;
    @media (max-width: 1000px) {
        top: 32.5%;
        right: 9%;
    }
}

@media (min-width: 800px) {
    .iframeCloseButtonMemory {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .iframeCloseButtonMemory {
        position: absolute;
        top: 28%;
    }

    .bigCloseButtonMemory {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .iframeCloseButtonMemory {
        position: absolute;
        top: 9.5%;
    }

  
}

@media screen and (max-width: 500px) {
    .iframeCloseButtonMemory {
        position: absolute;
        top: 7.5%;
    }

  
}