

.bigCloseButtonMemory{
    cursor: pointer;
    position: absolute;
    right: 8%;
    top: 58.5%;
    @media (max-width: 800px) {
        top: 28%;
        right: 9%;
    }
}

@media (min-width: 400px) {
    .iframeCloseButtonMemory {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .iframeCloseButtonMemory {
        position: absolute;
        top: 9%;
    }
}
