.memory-header {
    position: relative;
    > img{
        margin-bottom: 40px;
        margin-top: 40px;
        max-width: 400px;
        width: 100%;
        height: auto;
    }
}

.memory-header-buttons{
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;

    > div{
        margin: 5px; 
    }
}

.title .bigInstructions{
    font-size: 1em !important;
    margin: 10px;
}

.tryesAndReinit{
    display: flex;
    justify-content: center;
}


.memoryResult {
    color: #0c0e0e;
    cursor: pointer;
    padding: 5px;
    border: 3px solid #0c0e0e;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 180px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.reinit-button {  
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px;
    border: 3px solid #0c0e0e;
    background-color: #FF7E0B;
    border-radius: 8px;
    width: 180px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.reinit-button:active {
    background-color: darkgray;
    color: white;
}

.winnerMemoryResult {
    position: fixed;
    width: 50%;
    max-width: 200px;
    height: 50px;
    margin:5% auto 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    border: 3px solid #0c0e0e;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 2;
}

.winner-reinit-button {
    position: absolute;
    width: 50%;
    padding: 11px;
    max-width: 200px;
    /* height: 200px; */
    margin: 12% auto;
    left: 0;
    right: 0;
    border: 3px solid #0c0e0e;
    border-radius: 20px;
    background-color: white;
    color: black;
    z-index: 2;
    box-shadow: -2px 2px 57px 20px rgba(3,21,23,1);
}

.winner-reinit-button-iframe {
    position: fixed;
    top: 5px;
    font-size: 15px;
    width: 100px;
    height: 60px;
    margin: auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    background-color: grey;
    border: solid 2px white;
    border-radius: 4px;
    color: white;
    z-index: 4;
    display: none;
}

.fa-undo-alt {
    display: none
}
.gameButtons{
    position: absolute;
    margin-left: 6%;
}

@media (max-width: 1150px) {
    .gameButtons{
        display: flex;
        position: relative;
        margin-bottom: 32px;    
        margin-left: 0;
    }
    .memoryResult,
    .reinit-button {
        margin: auto;
    }
}

@media (max-width: 472px) {
    .title{
        text-align: center;
    }
}
@media (max-width: 400px) {
    .winner-reinit-button {
        margin: 25% auto;
    }
}

@media (max-width: 350px) {
    .memory-header {
        position: fixed;
        top: 10px;
        left: 20%;
    }

    .tryesAndReinit{
        display: flex;
        justify-content: center;
    }

    .title {
        display: none
    }
    
    .memory-body {
        justify-content: space-between;
    }

    .memoryResult {
        font-size: 16px;
        margin: 0 2px 0 auto ;
    }

    .reinit-button {
        font-size: 16px !important;
        color: white;
        margin: 0 auto 0 2px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0 !important;
        padding: 0 !important;
    }

    .memory-header {
        margin-bottom: 0px;
        height: 5%;
        display: flex;
        flex-direction: column;
    }

    .winner-reinit-button-iframe {
        display: block;
        height: 69px;

    }

    .winner-reinit-button {
        display: none
    }

    .winnerMemoryResult {
        display: none
    }
}