@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.bigInstructions{  
    cursor: pointer;
}
.bigInstructionsClose{  
    float: right !important;
    margin-right: 15px;
    color: black;
}
.modal-footer{
    border-top:none!important;
}

.modal-header {
    display:flex;
    border-bottom: none!important;
    flex-direction: column-reverse;
    justify-content: none!important;
    align-items: center;
    margin-top: 2rem;

}

.memoryModalTitle1{
    background: #FF7E0B;
    border-radius: 15px;
    box-shadow:7px 5px 5px #9e4d06;
    font-weight: 600!important;
    font-size: 2rem!important;
    font-family: "Roboto", sans-serif!important;
    padding: 1rem;
    text-transform: uppercase !important;
}

.memoryListDiscount1{
    // list-style-type: disc;
    text-align: center;
}

.memoryDespription1{
    text-align: center;
    padding: 2rem;
}

.modal-content {
    border: solid 10px #FF7E0B !important;
    box-sizing: border-box;
    color:black;
    font-weight: bold;
    font-family: "Roboto", sans-serif !important;
}