@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.bigInstructions{  
    cursor: pointer;
}

.memoryModalTitle1{
    background: #FF7E0B;
    border-radius: 15px;
    box-shadow:7px 5px 5px #9e4d06;
    font-weight: 600!important;
    font-size: 2rem!important;
    font-family: "Roboto", sans-serif!important;
    padding: 1rem;
    text-transform: uppercase !important;
}

.memoryListDiscount1{
    // list-style-type: disc;
    text-align: center;
}

.memoryDespription1{
    text-align: center;
    padding: 2rem;
}
.all-modal-memory{
    border: solid 10px #FF7E0B;  
}

