.modal-footer{
border-top:none!important;
}


.triviaModalTitle{
    background-color:#f2ab38;
    box-shadow:7px 5px 5px #cca772;
    border-radius: 15px;
    font-weight: 600!important;
    font-size: 2rem!important;
    font-family: "Roboto", sans-serif!important;
    padding: 1rem;
    text-transform: uppercase !important;
    align-items: center;
    border-bottom: none!important;
    flex-direction: column-reverse;
    justify-content: none!important;
    width:70%;
    margin: 3rem auto
}

.triviaListDiscount{
    text-align: center;
}

.triviaDespription{
    text-align: center;
    padding: 2rem;
}
.all-modal-trivia{
    border: solid 10px  #cca772;
    box-sizing: border-box;
    color:black!important;
    font-weight: bold;
    font-family: "Roboto", sans-serif !important;
    border-radius: 5px;  
}
@media (max-width: 600px) {
    .triviaModalTitle {
        font-size: 1.5rem!important;
    }
    .triviaDespription{
        padding: 0;
    }
  }