.back-card{
    width: 25%;
    height: 15rem;
    border: solid 2px black;
    align-items: center;
    margin: 0 auto;
}
.card-open {
    width: 20rem;
    height: 20rem;
    border: solid 5px green;
    align-items: center;
    margin: 0 auto;
}

.logo-back {   
        background-color: rgb(204, 167, 114);
        background-image: url("../../img/Logo.png");
        height: 140px;
        width: 150px;
        padding: 30px;
}



.trivial-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    background-image: url("../../img/games/trivia/bg_trivia.png");
    background-position: center;
    background-repeat: no-repeat;
}


.card-row {

    width: 25%;
}

.trivia-header {
    display: block;
    width: 100%;
    margin: 0;
}

.trivia-logo {
    width: 35%;
    margin-bottom: 50px;
}
.blue{
    background-color:blue;
}
.red{
    background-color:red;
}
.green{
    background-color:green;
}
.solutionGreen {
    background-color: green !important;
}