.card-row {
    width: 25%;

}


.trivial-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    background-image: url("../../img/games/trivia/bg_trivia.png");
    background-position: center;
    background-repeat: no-repeat;
}


.cardBody {
    height: 15rem;
    border: 4px solid #cca772;
    border-radius: 10px;
    align-items: center;
    margin: 5px;
}


.cardTitle {
    font-size: 30px;
    padding: 5px;
    border: 5px solid #f2ab38;
    border-radius: 30px;
    width: 50%;
    margin-top: 20%;
    font-weight: 600;
    color: black;


}

.cardInitialButton {
    padding: 10px;
    background-color: #f2ab38;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 15%;
}


.cardBack {
    height: 15rem;
    background-color: #cca772;
    border-radius: 10px;
    align-items: center;
    margin: 5px;
}

.cardBackPoints {
    font-size: 30px;
    padding: 5px;
    border: 5px solid white;
    border-radius: 30px;
    width: 50%;
    margin-top: 30%;
    font-weight: 600;
    color: white;
}




.card-open {
    width: 20rem;
    height: 20rem;
    border: solid 5px green;
    align-items: center;
    margin: 0 auto;
}

.logo-back {   
        background-color: rgb(204, 167, 114);
        background-image: url("../../img/Logo.png");
        height: 140px;
        width: 150px;
        padding: 30px;
}





.modalQuestions {
    border: 6px solid #cca772;
    border-radius: 10px;
    align-items: center;
    background-color: white;
        
}
.chronoTrivia {
    font-size: 15px;
    padding: 3px;
    border: 5px solid #f2ab38;
    border-radius: 30px;
    font-weight: 600;
    color: black;
}
.chronoTriviaText{
    margin-bottom: 0;
}
.question-head{
    width: 100%;
    display:flex;
    justify-content: space-around;
}

.modalPoints{
    font-size: 15px;
    padding: 3px;
    border: 5px solid #f2ab38;
    border-radius: 30px;
    width: 15%;
    font-weight: 600;
    color: black;
}

.totalScore{
    padding: 4px;
    border: 5px solid#90734f;
    border-radius: 30px;
    font-weight: 600;
    color: black;
    background-color:#ffffff;
}
.card-question{
    font-weight: bold;
    color: black;
    font-size: 17px;
}

.answers-all-buttons{
display: flex;

}
.card-question-body{
align-items: center;
}

.btnTrivia{
    box-shadow:7px 5px 5px #cca772;
    border:none;
    border-radius: 8px;
    width:80%;
    padding: 10px;
    color: white;
    font-size: 17px;
    margin-top: 5%;
    align-items: center;
}

.trivia-header {
    display: block;
    width: 100%;
    margin: 0;
}

.trivia-logo {
    width: 35%;
    margin-bottom: 50px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}
.orange{
    background-color:#f2ab38;
}

.triviaButtons{
    position: absolute;
    top: 50;
    right: 10px;
    display: flex;
    margin: 5px;

  
}

.cardBody {
    height: 14rem;
}

.cardBack {
    height: 14rem;
}

@media screen and (max-width: 300px) {
    .card-row {
        width: 50%;
    }
    
    .trivial-grid {
        padding: 10px;
    }

    .cardBody {
        margin: 2px;
    }

    .cardBackPoints {
        font-size: 22px;
    }

    .cardTitle {
        font-size: 22px;
    }

    .cardInitialButton {
        font-size: 16px;
        padding: 5px;
        width: 80%;
    }

}


@media screen and (max-width: 500px) {
    .card-row {
        width: 50%;
    }
    
    .trivial-grid {
        padding: 10px;
    }

    .cardBody {
        margin: 2px;
    }

}


@media screen and (max-width: 700px) {
    .card-row {
        width: 50%;
    }
    
    .trivial-grid {
        padding: 10px;
    }

    .cardBody {
        margin: 2px;
    }
}