

@media screen and (min-width: 400px) {
    .iframeCloseButtonOne {
        display: none
    }

}

@media screen and (max-width: 400px) {
    .iframeCloseButtonOne {
        position: fixed;
        top: 10%;
        left: 7px;
        display: block;
        z-index: 2;
        display: flex;
    }
    .bigCloseButtonOne {
        display: none;
    }
}
