.bigInstructionsOne{
    cursor: pointer;
}
 .modal-footer{
 border-top:none!important;
 }
 
 .oneToFiftyModalTitle{
   background-color: #E5423A;
   box-shadow:7px 5px 5px #6a2636;
   border-radius: 15px;
   font-weight: 600!important;
   font-size: 2rem!important;
   font-family: "Roboto", sans-serif!important;
   padding: 1rem;
   text-transform: uppercase !important;
 }
 .oneToFiftyListDiscount{
   text-align: center;
 }
 
 .oneToFiftyDespription{
   text-align: center;
   padding: 2rem;
 }
 .all-modal-fifty{
  border: solid 10px #6a2636;
}