@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.OneToFifty {
    background-image: url(../OneToFifty/despiertapasajerosfondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    

    & .rowIcons{
        display: flex;
        justify-content: flex-end;
        & div{
            margin-right: 5px;
        }
    }

    & .numbersGridContainer {
        background-color:#FFFA86 ;
        width: 827px;
        height: 468px;
        padding: 20px 65px 62px 80px;
        cursor: url(knocknock.png), pointer;
        @media screen and (max-width: 600px) {
            width: 100%;
            padding: 10px 0px 0px 20px;
        }
    }

    & .OneToFiftyContent {
        @media screen and (max-width: 335px) {
            margin-top: 20px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
            margin: 0;
        }

        & .justifyCenter {
            display: flex;
            justify-content: center;
        }

        & .alignCenter {
            display: flex;
            align-items: center;
        }

        & .timeAndActualNumber {
            margin-bottom: 20px;
            background-color: white;
            border: 2px solid #DB8A74;
            border-radius: 20px;
            color: #444054;
            width: 70vw;
            padding: 10px 0;

            @media screen and (max-width: 335px) {
                display: none;
            }

            & .chronoText {
                font-size: x-large;
                font-weight: bold;
            }
        }

        & .numbersGrid {
            width: 535px;
            margin: auto;
            
            @media screen and (max-width: 600px) {
                width: 290px;
            }

            @media screen and (max-width: 335px) {
                width: 200px;
            }
         
            & .cellNumber_0 {
                background-image: url('./door.png');
                background-repeat: no-repeat;
                background-size: 76px 100px;
                color: white;
                font-family: 'Merriweather', serif;
                margin: 4px;
                height: 100px;
                width: 77px;
                font-size: 28px;
                font-weight: 400;
                
               

                @media screen and (max-width: 600px) {
                    height: 65px;
                    width: 60px;
                    background-size: 64px 65px;
                }

                @media screen and (max-width: 335px) {
                    height: 36px;
                    width: 36px;
                    font-size: 22px;
                }
            }

            & .cellNumber_1 {
                background-image: url('./cleardoor.png');
                background-repeat: no-repeat;
                background-size: 76px 100px;
                color: #f5f5f5;
                // border-radius: 10px;
                font-family: 'Merriweather', serif;
                margin: 4px;
                height: 100px;
                width: 77px;
                font-size: 28px;
                font-weight: 600;
                animation: bounceIn 0.5s ease-in-out;
                cursor: url("./knocknock.png");

                @keyframes bounceIn {
                    0% {
                        transform: scale(0);
                        opacity: 0;
                    }

                    100% {
                        transform: scale(1);
                    }
                }

                @media screen and (max-width: 400px) {
                    height: 50px;
                    width: 50px;
                }

                @media screen and (max-width: 335px) {
                    height: 36px;
                    width: 36px;
                    font-size: 22px;
                }

            }

            & .cellNumber_2 {
                background-color: #DB8A74;
                opacity: 0.5;
                margin: 4px;
                height: 100px;
                width: 77px;
                font-family: 'Merriweather', serif;

                @media screen and (max-width: 400px) {
                    height: 50px;
                    width: 50px;
                }

                @media screen and (max-width: 335px) {
                    height: 36px;
                    width: 36px;
                    font-size: 22px;
                }
            }
        }

        & .restartButton {
            background-color: white;
            border: 2px solid #DB8A74;
            margin: 15px;
            color: #444054;
            text-align: center;
            text-decoration: none;
            border-radius: 10px;
            padding: 5px 10px;
            font-weight: 600;

            @media screen and (max-width: 335px) {
                display: none !important;
            }
        }

        & .iframeOneToFifty {
            display: none !important;

            @media screen and (max-width: 335px) {
                display: block !important;
            }

            & .timeAndActualNumberIframe {
                color: white;
                width: 70vw;
                font-weight: bold;
            }

            & .restartButtonIframe {
                background-color: white;
                border: 2px solid #DB8A74;
                margin: 6px;
                color: #444054;
                text-align: center;
                text-decoration: none;
                border-radius: 10px;
                padding: 0 10px;
                font-weight: 600;
            }
        }
    }


}